name: release-pr

on:
  # To allow for manual testing.
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true

jobs:
  release-pr:
    runs-on:
      group: databricks-protected-runner-group
      labels: linux-ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Change to a new version
        run: |
          echo "${{ github.event.inputs.version }}" > VERSION
          sed -i -E "s/VERSION=(.*)/VERSION=\"${{ github.event.inputs.version }}\"/" install.sh
          sed -i -E "s/\d+\.\d+\.\d+/${{ github.event.inputs.version }}/g" README.md

      - name: Create a release pull request
        id: cpr

        # Version v6.0.5
        uses: peter-evans/create-pull-request@6d6857d36972b65feb161a90e484f2984215f83e
        with:
          author: "eng-dev-ecosystem-bot <eng-dev-ecosystem-bot@users.noreply.github.com>"
          committer: "eng-dev-ecosystem-bot <eng-dev-ecosystem-bot@users.noreply.github.com>"
          token: ${{ secrets.DECO_GITHUB_TOKEN }}
          commit-message: Release CLI v${{ github.event.inputs.version }}
          body: Release CLI v${{ github.event.inputs.version }}
          branch: release-v${{ github.event.inputs.version }}
          title: 'Release CLI v${{ github.event.inputs.version }}'
          draft: false
